.container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
}

.main-cards-container{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
}

.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
}